@charset "utf-8";
.head
{
    margin-top: 20px;
    width: 800px;
    height: 480px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
a
{
    text-decoration: none;
    color: white;
}
.button
{
    border: 0px solid gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 6px 12px;
    background-color: #337ab7;
    outline: none;
    font-size: 18px;
}
.button:hover
{
    background-color: #2e6da4;
}
.block_content
{
    border: 4px solid #337ab7;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    padding: 10px;
    font-size: 17px;
    color: gray;
    height: 400px;
}
.link
{
    border: 0px solid gray;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: gray; 
    text-align: left;
    padding: 6px 0px 6px 6px;
    height: 22px;
    float: left;
}
.link_end
{
    border: 0px solid gray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    background-color: gray; 
    font-size: 17px;
    padding: 6px 8px 6px 3px;
    height: 22px;
    float: left;
}
input
{
    outline: none;
    border: 3px solid gray;
    background-color: white; 
    text-align: left;
    float: left;
    color: gray;
    font-size: 17px;
    padding: 6px;
    height: 34px;
    width: 190px;
}