#title {
    width: 100%;
    height: 5.5vw;
    position: relative;
    z-index: 1000;
    background-color: #428bc5;
    padding: 0 20.25vw;
    box-sizing: border-box;
}

    #logo {
        width: 7vw;
        height: 7vw;
        float: left;
        background-image: url('gorodyschenskiy-rayon.png');
        background-size: contain;
    }

    #org_name {
        float: left;
        margin-top: 1.25vw;
        margin-left: 1.25vw;
        line-height: 1.6vw;
        font-family: Verdana, Geneva, DejaVu sans-serif;
        font-weight: 600;
        color: white;
    }
        #org_name h1 {
            margin: 0;
            font-size: 1.4vw;
        }

        #org_name h2 {
            margin: 0;
            font-size: 1.1vw;
        }

#pre_photos {
    width: 62vw;
    height: 22vw;
    background-color: #f1f1f1;
    margin: 0 19vw;
}

    #pre_photos_mask {
        width: 100%;
        height: 100%;
        position: relative;
        top: -1.5vw;
        overflow: hidden;
    }

    .arrow_space {
        width: 2vw;
        height: 100%;
        position: relative;
        z-index: 1;
        /* background-color: black; */
    }

        .arrow_space div {
            width: 2vw;
            height: 2vw;
            display: none;
            margin-top: 10vw;
            background-color: #428bc5;
            box-sizing: border-box;
            line-height: 1.8vw;
            font-size: 1.2vw;
            font-family: Verdana, Geneva, DejaVu sans-serif;
            text-align: center;
            color: white;
            border-radius: 100%;
            cursor: pointer;
            user-select: none;
        }

        .arrow_space div:hover {
            background-color: #2c699a;
        }

    #left_arrow_space {
        float: left;
        margin-left: 1vw;
    }

    #right_arrow_space {
        float: right;
        margin-right: 1vw;
    }

    #pre_photos_block {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 0;
        left: 0;
        background-size: contain;
        transition: linear 1s left;
    }

        #pre_photos_mask[active="1"] #right_arrow_space div {
            display: block;
        }

        #pre_photos_mask[active="2"] div[class="arrow_space"] div {
            display: block;
        }

        #pre_photos_mask[active="3"] #left_arrow_space div {
            display: block;
        }

        #pre_photos_mask[active="1"] #pre_photos_block:not([pos="1"]) {
            left: -100%;
        }

        #pre_photos_mask[active="2"] #pre_photos_block[pos="1"] {
            left: 100%;
        }

        #pre_photos_mask[active="2"] #pre_photos_block[pos="3"] {
            left: -100%;
        }

        #pre_photos_mask[active="3"] #pre_photos_block:not([pos="3"]) {
            left: 100%;
        }