:root {
    --back-color: rgb(245, 245, 245);
    --main-color: rgb(50, 50, 50);
}

html {
    height: 100%;
}

body {
    background: var(--back-color);
    color: var(--main-color);
    font-size: 32px;
}

@media (max-width: 350px) {
    body {
        font-size: 28px;
    }
}

@keyframes overflow-anim {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}

body[data-login] {
    animation: linear .4s overflow-anim;
}

section {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: linear .4s top, linear .25s opacity;
}

section[data-main] {
    top: 0;
    opacity: 1;
}

section[data-login] {
    display: none;
    top: 100%;
}

body[data-login] section[data-main] {
    top: -100%;
    opacity: 0;
}

@keyframes login-display {
    0% {
        top: 100%;
    }
    100% {
        top: 0;
    }
}

body[data-login] section[data-login] {
    display: block;
    animation: .4s linear login-display forwards;
}

label {
    font-size: 0;
}

/* body::before {
    content: '';
    position: fixed;
    width: 100%;
    z-index: -1000;
    height: 100%;
    background: url(background.png) no-repeat;
    background-size: cover;
    opacity: 0.02;
} */

header {
    padding: 32px;
}

header > p {
    text-align: center;
    font-size: 45%;
    font-style: italic;
    line-height: 150%;
}

header > h1 {
    font-size: 0;
}

header > h1[data-visible] {
    font-size: 100%;
    text-align: center;
}





main {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

main button, form[data-login] input[type="text"] {
    width: 310px;
    max-width: 85%;
    height: 76px;
    margin: 6px 0;

    text-align: center;
    font-size: 75%;
    color: inherit;
    user-select: none;
    outline: none;
    transition: linear .15s all;

    background: none;
    
    border: 2px solid var(--main-color);
    border-radius: 0;
}

form[data-login] input[type="text"] {
    width: 270px;
    max-width: 75%;
    height: 46px;
    box-sizing: border-box;
    padding: 6px 0;
    border: 0;
    border-bottom: 2px solid var(--main-color);
}

form[data-login] input[type="text"]:not(:invalid) {
    padding: 6px 30px;
    width: 310px;
    max-width: 85%;
}

form[data-login] input[type="text"]::placeholder {
    color: var(--main-color);
    opacity: .5;
    transition: inherit;
}

form[data-login] input[type="text"]:focus::placeholder {
    opacity: 0;
}

form[data-login] label[for="submit"] {
    position: absolute;
    display: inline-block;

    width: 30px;
    height: 44px;
    font-size: 0;
    margin: 6px 0;
    margin-left: -30px;

    transition: linear .15s opacity;
    visibility: hidden;
    opacity: 0;
}

form[data-login] input[type="submit"] {
    margin: 8px 16px;

    width: 20px;
    height: 20px;
    font-size: 0;
    background:  transparent;
    outline: none;
    -webkit-tap-highlight-color: transparent !important;

    transform-origin: 0 0;
    transform: rotate(45deg);

    border: 0;
    border-radius: 0;
    border-top: 2px solid var(--main-color);
    border-right: 2px solid var(--main-color);
}

form[data-login] input[type="text"]:not(:invalid) + label[for="submit"] {
    visibility: visible;
    opacity: 1;
}

main > button:hover, main > button:focus {
    background-color: var(--main-color);
    color: var(--back-color);
    border-color: transparent;
}





footer {
    position: absolute;
    top: 100%;
    transform: translate(0, -100%);
    overflow: hidden;

    width: 100%;
    height: 30px;
}

footer div[data-arrow] {
    margin: 5px auto;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    border-top: 2px solid var(--main-color);
    border-left: 2px solid var(--main-color);
}

footer div[data-circle] {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    border: 2px solid var(--main-color);
    border-radius: 15px;
}

/* footer div::after {
    content: '';
    position: absolute;
    margin: 3px;
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--main-color);
    border-left: 2px solid var(--main-color);
} */