/*error class start*/
#error {
    font-weight: 400; 
    font-family: sans-serif; 
    background-color: white; 
    color: rgb(130, 130, 130); 
    position: fixed;
    font-size: 24px;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}

.errorText {
    line-height: 24px;
    display: table-cell;
    vertical-align: middle;
    width: 80%;
    padding: 0 10%;
}
/*error class end*/

@font-face {
    font-family: Habel;
    src: url('HabelDemo.otf');
}

#preload {
    background-color: white; 
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 120;
    display: table;
}

.preloadI {
    display: table-cell; 
    vertical-align: middle;
    text-align: center;
    height: 100%;
}

body {
    /*var-s*/
    --light-gray: rgb(235, 235, 235);
    --gray: rgb(150, 150, 150);
    --blue: rgb(0, 180, 230); 
    --red: rgb(255, 100, 120);
    --green: rgb(0, 255, 200);
    --yellow: rgb(244, 255, 142);
    --grayShadow: 0px 0px 40px rgba(150, 150, 150, .7);

    margin: 0 auto;
    text-align: center;
    background-color: var(--light-gray);
    user-select: none;
}

.content {
    position: fixed;
    top: 12%;
    width: 100%;
    height: 88%;
    z-index: 1;
    transition: ease-in-out left .5s;
    left: 0;
}

.settings {
    left: -100%;
}

.toRight {
    left: 100%;
}

#title {
    height: 12vh;
    width: 100%;
    font-weight: 400;
    font-size: 9vh;
    font-family: Habel;
    background-color: white;
    color: var(--gray);
    box-shadow: var(--grayShadow);
    position: fixed;
}

/*.titleC {
    animation: titleC .5s;
}*/

@keyframes titleC {
    0% {
        top: 0;
    }
    50% {
        top: -12%;
    }
    100% {
        top: 0;
    }
}

#tText {
    float: left;
    width: 70%;
    height: 100%;
    display: table;
    position: relative;
    top: 20%;
}

.iconB {
    position: relative;
    height: 60%;
    top: 20%;
    width: 15%;
    left: 0;
    float: left;  
}

.iconR {
    transform: rotate(45deg); 
}

.iconR90 {
    transform: rotate(90deg); 
}

.r {
    float: right !important;
}

.icon {
    height: 100%;
    border-radius: 50%;
    float: left;
    transition: ease-in-out box-shadow .5s, transform .5s, background-color .5s;
}

.plot {
    text-align: inherit;
    border-radius: 3%;
    background-color: white;
}

.yL {
    width: 100%;
}

.xB {
    float: left;
    background-color: var(--light-gray);
    /*border-radius: 50%;*/
}

.sItem {
    height: 16.7%;
    width: 100%;
    display: table;
    background-color: white;
}

.sText {
    display: table-cell;
    vertical-align: middle;
    width: 61%;
    padding: 0 3%;
    text-align: left;
    /*float: left;*/
}

.counter {
    display: table;
    width: 92%;
    height: 70%;
    margin-top: 6.75%;
}

.counterB {
    height: 100%;
    width: 30%;
    display: table-cell;
    background-color: var(--red);
    opacity: .4;
    color: white;
    border-radius: 20% 0 0 20%;
    vertical-align: middle;
}

.counterT {
    height: 100%;
    width: 40%;
    padding: 1% 1% 0 0;
    display: table-cell;
    color: var(--gray);
    background-color: white;
    vertical-align: middle;
}

.switch {
    width: 100%;
    color: white;
    background-color: var(--green)
}

.plus {
    border-radius: 0 20% 20% 0;
    padding: 1% 1% 0 0;
    background-color: var(--green);
    opacity: 1;
}

#continueB {
    background-color: var(--green);
    color: white;
    width: 100%;
}

.continue {
    text-align: center;
    padding: 0;
}

#createM {
    font-weight: 400;
    font-family: sans-serif;
    color: var(--gray);
}

.gray {
    background-color: var(--light-gray);
    color: white
}

.noDisp {
    display: none !important;
}

.noVA {
    vertical-align: unset;
}

#fCurrNum {
    float: left; 
    width: 70%; 
    margin: 2.4vh 0; 
    line-height: 7.2vh; 
    font-family: sans-serif; 
    font-size: 4vh;
}

.colorB {
    width: 100%;
    height: 14.28%;
}