@charset "utf-8";
body {
    margin: 0 auto;
    background: #f9f9f9;
}
.H1 {
    height: 64px;
    background: #5ab5ff;
    color: white;
    font: 600 30px Calibri;
    text-align: center;
    line-height: 64px;
}