body {
    --gray: rgb(220, 220, 220);
    margin: 0 auto;
    text-align: center;
    min-width: 300px;
    min-height: 300px;
    background: var(--gray);
}

#main {
    text-align: inherit;
    border-radius: 1.5%;
    background: white;
    padding: 2%;
}

.yL {
    width: 100%;
}

.xB {
    float: left;
    background: var(--gray);
    /*border-radius: 50%;*/
}