@keyframes overflow-anim {
    0% {
        overflow: hidden;
    }
    100% {
        overflow: hidden;
    }
}

body[data-login] {
    animation: linear .4s overflow-anim;
}





/* два окна с анимацией */
section {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: linear .4s top, linear .25s opacity;
}

section[data-main] {
    top: 0;
    opacity: 1;
}

section[data-login] {
    display: none;
    top: 100%;
}

section[data-login] main {
    transform: translateY(-29px);
}

body[data-login] section[data-main] {
    top: -100%;
    opacity: 0;
}

@keyframes login-display {
    0% {
        top: 100%;
    }
    100% {
        top: 0;
    }
}

body[data-login] section[data-login] {
    display: block;
    animation: .4s linear login-display forwards;
}





/* проверка данных анимация*/
@keyframes login-loading {
    0% {
        border-color: var(--main-color);
    }
    50% {
        border-color: var(--orange);
    }
    100% {
        border-color: var(--main-color);
    }
}

form[data-login][data-loading] input[type="text"] {
    animation: linear 1.5s login-loading .4s both infinite;
}

form[data-login] input[type="text"]:not(:invalid) {
    padding: 0 30px;
    width: 310px;
    max-width: 85%;
}





/* стрелка подтверждения */
form[data-login] label[for="submit"] {
    position: absolute;
    display: inline-block;

    width: 30px;
    height: 40px;
    font-size: 0;
    margin: 6px 0;
    margin-left: -30px;

    transition: linear .15s opacity;
    visibility: hidden;
    opacity: 0;
}

form[data-login][data-loading] label[for="submit"] {
    opacity: 0 !important;
}

form[data-login] input[type="submit"] {
    margin: 4px 16px;

    width: 20px;
    height: 20px;
    font-size: 0;
    background:  transparent;
    outline: none;
    -webkit-tap-highlight-color: transparent !important;
    -webkit-appearance: none;

    transform-origin: 0 0;
    transform: rotate(45deg);

    border: 0; 
    border-radius: 2px;
    border-top: 2px solid var(--main-color);
    border-right: 2px solid var(--main-color);
}

form[data-login] input[type="text"]:not(:invalid) + label[for="submit"] {
    visibility: visible;
    opacity: 1;
}