p {
    font-size: 60%;
    line-height: 30px;
    text-align: center;
    transition: linear .4s color;
}

main:not([data-send]) p:last-child {
    display: none;
}

main[data-send] p:nth-child(2) {
    display: none;
}

main[data-loaded] {
    color: var(--green);
}

main[data-error] {
    color: var(--red);
}

@keyframes dots {
    0% {
        content: '';
    }
    25% {
        content: '.';
    }
    50% {
        content: '..';
    }
    100% {
        content: '...';
    }
}

main[data-loading] p#status::after {
    content: '';
    animation: dots 1s ease-in-out infinite;
}