@charset "utf-8";

body {
    margin: 0 auto;
    background: #f9f9f9;
}
#user_name {
    float: left;
}
.page {
    margin: 0 auto;
    width: 1000px;
}
.header {
    height: 46px;
    background: #5390C1;
    color: white;
    font: 600 17px Calibri;
    border-radius: 0px 0px 6px 6px;
    line-height: 46px;
}
.content {
    padding: 0px 6px;
}
#messages {
    background: #ffffff;
    border-bottom: solid 1px #E5E5E5;
    border-left: solid 1px #E5E5E5;
    border-right: solid 1px #E5E5E5;
    /*min-height: 425px;*/
}
.settings_button {
    margin: 11px 10px;
    border: 0;
    outline: 0;
    width: 24px;
    height: 24px;
    float: right;
    background: url(../images/settings.png) no-repeat;
    background-position: 0px 0px;
}
.settings_button:hover {
    background-position: -26px 0px;
}
.settings_button:active {
    background-position: -26px 0px;
}
.messages_button {
    margin: 11px 0px 11px 10px;
    background: url(../images/messages.png) no-repeat;
}
.messages_button:hover {
    background-position: -25px 0px;
}
.messages_button:active {
    background-position: -25px 0px;
}
.profile_ava {
    border-radius: 50%;
    padding: 8px 10px;
    width: 30px;
    height: 30px;
    float: left;
}
.user_name {
    display: inline-block;
}
.site_name {
    font: 700 25px Calibri;
    float: right;
    line-height: 46px;
}
/*Animation*/
.rotate {
    animation: rotate;
    animation-duration: 1.5s;
}
.unrotate {
    animation: unrotate;
    animation-duration: 1.5s;
}
.messages_button_clicked {
    animation: messages_button_clicked;
    animation-duration: 0.2s;
}
@keyframes rotate {
    100% {transform: rotate(-360deg);}
}
@keyframes messages_button_clicked {
    0%  {margin-top: 7px;}
    100%  {margin-top: 11px;}
}
@keyframes unrotate {
    100% {transform: rotate(360deg);}
}